<section class="advantages">
  <div class="container">
    <p class="suptitle suptitle-light-theme">старая традиционная школа</p>
    <h2 class="title advantages__title">Почему приходят именно к нам?</h2>
    <p class="description description-light-theme advantages__description">
      О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем
      10 раз прочитать.
    </p>
    <div>
      <ul class="list advantages-list">
        <li class="advantages-list__item">
          <p class="advantages-list__count">
            600<sup class="advantages-list__sup">+</sup>
          </p>
          <p class="advantages-list__desc">Довольных клиентов в день</p>
        </li>
        <li class="advantages-list__item">
          <p class="advantages-list__count">
            50<sup class="advantages-list__sup">+</sup>
          </p>
          <p class="advantages-list__desc">Наград за отличный сервис</p>
        </li>
        <li class="advantages-list__item">
          <p class="advantages-list__count">
            20<sup class="advantages-list__sup">+</sup>
          </p>
          <p class="advantages-list__desc">Лучших мастеров Киева</p>
        </li>
        <li class="advantages-list__item">
          <p class="advantages-list__count">
            100<sup class="advantages-list__sup">+</sup>
          </p>
          <p class="advantages-list__desc">Подарков постоянным клиентам</p>
        </li>
      </ul>
    </div>
  </div>
</section>
