<section class="gallery">
  <div class="container">
    <!-- <h2 class="visually-hidden">Галерея работ</h2> -->
    <p class="suptitle suptitle-light-theme gallery__suptitle">
      На латинском языке “барба” означает “борода”
    </p>
    <ul class="gallery-list list">
      <li class="gallery-list__item">
        <picture>
          <source
            media="(min-width: 420px)"
            srcset="
              ./images/gallery/mobile-gallery-img-1.jpg    1x,
              ./images/gallery/mobile-gallery-img@2x-1.jpg 2x
            "
          />
          <img
            class="gallery-list__img"
            src="./images/gallery/mobile-gallery-img-1.jpg"
            alt="Мастер стрижет клиента"
          />
        </picture>
      </li>
      <li class="gallery-list__item">
        <picture>
          <source
            media="(min-width: 420px)"
            srcset="
              ./images/gallery/mobile-gallery-img-2.jpg    1x,
              ./images/gallery/mobile-gallery-img@2x-2.jpg 2x
            "
          />
          <img
            class="gallery-list__img"
            src="./images/gallery/mobile-gallery-img-2.jpg"
            alt="Мастер бреет бороду"
          />
        </picture>
      </li>
      <li class="gallery-list__item">
        <picture>
          <source
            media="(min-width: 420px)"
            srcset="
              ./images/gallery/mobile-gallery-img-3.jpg    1x,
              ./images/gallery/mobile-gallery-img@2x-3.jpg 2x
            "
          />
          <img
            class="gallery-list__img"
            src="./images/gallery/mobile-gallery-img-3.jpg"
            alt="Тепловой массаж"
          />
        </picture>
      </li>
      <li class="gallery-list__item">
        <picture>
          <source
            media="(min-width: 420px)"
            srcset="
              ./images/gallery/mobile-gallery-img-4.jpg    1x,
              ./images/gallery/mobile-gallery-img@2x-4.jpg 2x
            "
          />
          <img
            class="gallery-list__img"
            src="./images/gallery/mobile-gallery-img-4.jpg"
            alt="Обработка затылка"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
