<section class="masters">
  <div class="container">
    <p class="suptitle suptitle-light-theme">
      для настоящих ценителей атмосферы
    </p>
    <h2 class="title title-light-theme masters__title">Наши мастера</h2>
    <ul class="masters__list list">
      <li class="mastert__item">
        <picture class="picture">
          <source
            media="(min-width: 420px)"
            srcset="
              ./images/masters/mobile-john-smith.jpg    1x,
              ./images/masters/mobile-john-smith@2x.jpg 2x
            "
          />
          <img
            class="masters__img"
            src="./images/masters/mobile-john-smith.jpg"
            alt="Джон Смит"
          />
        </picture>
        <div class="masters__container">
          <h3 class="masters__player">John Smith</h3>
          <p class="masters__description">Extreme Barber</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a href="#" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="#" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="#" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="#" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="mastert__item">
        <picture class="picture">
          <source
            media="(min-width: 420px)"
            srcset="
              ./images/masters/mobile-michele-doe.jpg    1x,
              ./images/masters/mobile-michele-doe@2x.jpg 2x
            "
          />

          <img
            class="masters__img"
            src="./images/masters/mobile-michele-doe.jpg"
            alt="Джон Смит"
          />
        </picture>
        <div class="masters__container">
          <h3 class="masters__player">Michele Doe</h3>
          <p class="masters__description">Extreme Barber</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a href="#" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="#" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="#" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="#" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="mastert__item">
        <picture class="picture">
          <source
            media="(min-width: 420px)"
            srcset="
              ./images/masters/mobile-alan-black.jpg 1x,
              ./images/masters/mobile-alan-black.jpg 2x
            "
          />
          <img
            class="masters__img"
            src="./images/masters/mobile-alan-black.jpg"
            alt="Джон Смит"
          />
        </picture>
        <div class="masters__container">
          <h3 class="masters__player">Alan Black</h3>
          <p class="masters__description">Extreme Barber</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a href="#" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="#" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="#" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="#" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
