<section class="services">
  <div class="container">
    <p class="suptitle suptitle-dark-theme">
      Проведи время в компании лучших мастеров
    </p>
    <h2 class="title title-dark-theme services__title">Услуги и цены</h2>
    <div class="services-list__wrapper">
      <ul class="list">
        <li class="services-list__item">
          <span class="services-list__name">Мужская стрижка</span>
          <span class="services-list__price">от 300 грн.</span>
        </li>
        <li class="services-list__item">
          <span class="services-list__name">Стрижка бороды</span>
          <span class="services-list__price">от 200 грн.</span>
        </li>
        <li class="services-list__item">
          <span class="services-list__name">Стрижка усов</span>
          <span class="services-list__price">от 200 грн.</span>
        </li>
        <li class="services-list__item">
          <span class="services-list__name">Бритье опасной бритвой</span>
          <span class="services-list__price">от 200 грн.</span>
        </li>
        <li class="services-list__item">
          <span class="services-list__name">Cтрижка у стажера</span>
          <span class="services-list__price">от 50 грн.</span>
        </li>
        <li class="services-list__item">
          <span class="services-list__name">Стрижка под насадку</span>
          <span class="services-list__price">от 200 грн.</span>
        </li>
        <li class="services-list__item">
          <span class="services-list__name">Детская стрижка (до 12 лет)</span>
          <span class="services-list__price">от 300 грн.</span>
        </li>
        <li class="services-list__item">
          <span class="services-list__name">Камуфлирование седины</span>
          <span class="services-list__price">от 200 грн.</span>
        </li>
      </ul>
    </div>
    <button type="button" class="btn btn-dark-theme services-btn">
      онлайн-запись
    </button>
  </div>
</section>
