.about {
  padding: 84px 15px;
}

.about__title {
  padding-right: 50px;
}

.about__description {
  margin-bottom: 20px;
  letter-spacing: 0.02em;
}

.about__text {
  margin-bottom: 40px;
  padding-right: 25px;
  @include font-style(14px, 26px);
  letter-spacing: 0.02em;
}
