.gallery {
  padding: 84px 15px;
}

.gallery__suptitle {
  margin-bottom: 44px;
  @include font-style(11px, 21px);
}

.gallery-list {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 30px;
}

.gallery-list__item {
  display: block;
  width: 100%;
}
