@media screen and (min-width: 320px) {
  .hero {
    position: relative;
    max-width: 480px;
    background-position: center;

    background-color: #303030;
    background-image: url(./images/hero/bg.jpg);
    // flex-grow: 1;
    // background-color: #303030;
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url('../images/hero/mobile-bg.jpg');
    background-size: cover;
    padding-top: 208px;
    padding: 208px 15px 183px;
  }
}

.hero-container {
  padding-right: 143px;
}

.hero-title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  @include font-style(48px, 56px);
  color: var(--secondary-color);
}
