.masters {
  padding: 84px 15px;
  background-color: #f7f7f7;
}

.masters__title {
  @include font-style(42px, 49px);
  margin-bottom: 44px;
}

.masters__img {
  width: 100%;
}

.masters__container {
  padding-top: 30px;
  padding-bottom: 64px;
}

.masters__player {
  margin-bottom: 8px;
  @include font-style(18px, 25px);
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.masters__description {
  margin-bottom: 30px;
  @include font-style(14px, 19px);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
